[Unit]
Description=Bind /etc/stationagent to persistent data partition
Requires=mnt-data.mount data-init.service
After=mnt-data.mount data-init.service
Before=local-fs.target station-agent.service umount.target
DefaultDependencies=no
Conflicts=umount.target

[Mount]
What=/mnt/data/etc-overlay/stationagent
Where=/etc/stationagent
Type=none
Options=bind

[Install]
WantedBy=local-fs.target
